@media screen and (min-width: 700px){
    .hidden .menu ul li ul{display:block;border:1px solid red;}
    .menu>ul>li>a{padding-left:56px}
	.menu li li a{padding-left:20px}
	.hidden .menu>ul>li>a{overflow:hidden;width:0;width:0;padding-left:48px}
	.hidden .menu li li a{padding-left:12px;padding-right:12px}
	.hidden .menu li ul{position:absolute;top:0;left:48px;width:14em;-webkit-box-shadow:rgba(0,0,0,0.3) 6px 6px 15px -4px;box-shadow:rgba(0,0,0,0.3) 6px 6px 15px -4px}
	.hidden .menu li li a:before{background:#ffe05f}
	.hidden .menu li li>a:hover:before{background:#f82;width:4px}
	.hidden .menu li.hasChild>a:after{right:-5px;bottom:-5px;top:auto;left:auto;width:0;height:0;border-style:solid;border-width:5px;border-color:transparent transparent transparent #6e8083;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:.2s;transition:.2s}
	}
@media screen and (min-width: 700px) and (max-width: 999px){
    .hidden .menu ul li ul{display:block;border:1px solid red;}
    .hidden .menu li ul{overflow-y:scroll}
	.hidden .menu li:nth-child(1) ul{max-height:calc( 100vh - 54px)}
	.hidden .menu li:nth-child(2) ul{max-height:calc( 100vh - 103px)}
	.hidden .menu li:nth-child(3) ul{max-height:calc( 100vh - 152px)}
	.hidden .menu li:nth-child(4) ul{max-height:calc( 100vh - 201px)}
	.hidden .menu li:nth-child(5) ul{max-height:calc( 100vh - 250px)}
	.hidden .menu li:nth-child(6) ul{max-height:calc( 100vh - 299px)}
	.hidden .menu li:nth-child(7) ul{max-height:calc( 100vh - 348px)}
}
@media screen and (min-width: 1000px){
	.menu>ul>li{display:block}
	.menu>ul>li>ul{display:none}
}